In [26]:
import pandas as pd
import json

In [27]:
df = pd.read_csv('ncaa_results.csv')

In [28]:
regions = [team for team in df["Region Name"].unique() if team not in ["Final Four", "Championship"]]

In [29]:
df.loc[df['Year'] == 1985]

,Year,Round,Region Number,Region Name,Seed,Score,Team,Team.1,Score.1,Seed.1
0,1985,1,1,West,1,83,St Johns,Southern,59,16
1,1985,1,1,West,2,81,VCU,Marshall,65,15
2,1985,1,1,West,3,65,NC State,Nevada,56,14
3,1985,1,1,West,4,85,UNLV,San Diego St,80,13
4,1985,1,1,West,5,58,Washington,Kentucky,65,12
5,1985,1,1,West,6,75,Tulsa,UTEP,79,11
6,1985,1,1,West,7,50,Alabama,Arizona,41,10
7,1985,1,1,West,8,54,Iowa,Arkansas,63,9
8,1985,1,2,East,1,68,Georgetown,Lehigh,43,16
9,1985,1,2,East,2,65,Georgia Tech,Mercer,58,15
10,1985,1,2,East,3,76,Illinois,Northeastern,57,14
11,1985,1,2,East,4,59,Loyola Illinois,Iona,58,13
12,1985,1,2,East,5,85,SMU,Old Dominion,68,12
13,1985,1,2,East,6,67,Georgia,Wichita St,59,11
14,1985,1,2,East,7,70,Syracuse,DePaul,65,10
15,1985,1,2,East,8,60,Temple,Virginia Tech,57,9
16,1985,1,3,Midwest,1,96,Oklahoma,North Carolina A&T,83,16
17,1985,1,3,Midwest,2,67,Memphis,Pennsylvania,55,15
18,1985,1,3,Midwest,3,75,Duke,Pepperdine,62,14
19,1985,1,3,Midwest,4,75,Ohio St,Iowa St,64,13
20,1985,1,3,Midwest,5,78,Louisiana Tech,Pittsburgh,54,12
21,1985,1,3,Midwest,6,53,Texas Tech,Boston College,55,11
22,1985,1,3,Midwest,7,70,UAB,Michigan St,68,10
23,1985,1,3,Midwest,8,55,USC,Illinois St,58,9
24,1985,1,4,Southeast,1,59,Michigan,Fairleigh Dickinson,55,16
25,1985,1,4,Southeast,2,76,North Carolina,Middle Tennessee St,57,15
26,1985,1,4,Southeast,3,49,Kansas,Ohio,38,14
27,1985,1,4,Southeast,4,55,LSU,Navy,78,13
28,1985,1,4,Southeast,5,69,Maryland,Miami Ohio,68,12
29,1985,1,4,Southeast,6,58,Purdue,Auburn,59,11
...,...,...,...,...,...,...,...,...,...,...
33,1985,2,1,West,2,59,VCU,Alabama,63,7
34,1985,2,1,West,3,86,NC State,UTEP,73,11
35,1985,2,1,West,4,61,UNLV,Kentucky,64,12
36,1985,2,2,East,1,63,Georgetown,Temple,46,8
37,1985,2,2,East,2,70,Georgia Tech,Syracuse,53,7
38,1985,2,2,East,3,74,Illinois,Georgia,58,6
39,1985,2,2,East,4,70,Loyola Illinois,SMU,57,5
40,1985,2,3,Midwest,1,75,Oklahoma,Illinois St,69,9
41,1985,2,3,Midwest,2,67,Memphis,UAB,66,7
42,1985,2,3,Midwest,3,73,Duke,Boston College,74,11
43,1985,2,3,Midwest,4,67,Ohio St,Louisiana Tech,79,5
44,1985,2,4,Southeast,1,55,Michigan,Villanova,59,8
45,1985,2,4,Southeast,2,60,North Carolina,Notre Dame,58,7
46,1985,2,4,Southeast,3,64,Kansas,Auburn,66,11
47,1985,2,4,Southeast,13,59,Navy,Maryland,64,5
48,1985,3,1,West,1,86,St Johns,Kentucky,70,12
49,1985,3,1,West,7,55,Alabama,NC State,61,3
50,1985,3,2,East,1,65,Georgetown,Loyola Illinois,53,4
51,1985,3,2,East,2,61,Georgia Tech,Illinois,53,3
52,1985,3,3,Midwest,1,86,Oklahoma,Louisiana Tech,84,5
53,1985,3,3,Midwest,2,59,Memphis,Boston College,57,11
54,1985,3,4,Southeast,8,46,Villanova,Maryland,43,5
55,1985,3,4,Southeast,2,62,North Carolina,Auburn,56,11
56,1985,4,1,West,1,69,St Johns,NC State,60,3
57,1985,4,2,East,1,60,Georgetown,Georgia Tech,54,2
58,1985,4,3,Midwest,1,61,Oklahoma,Memphis,63,2
59,1985,4,4,Southeast,8,56,Villanova,North Carolina,44,2
60,1985,5,1,Final Four,1,59,St Johns,Georgetown,77,1
61,1985,5,2,Final Four,2,45,Memphis,Villanova,52,8
62,1985,6,1,Championship,1,64,Georgetown,Villanova,66,8

In [30]:
def empty_tournament():
    ''' Generate an empty tournament '''
    result = []
    for round_size in [32, 16, 8, 4, 2, 1]:
        round_result = []
        for j in range(round_size):
            round_result.append([None, None])
        result.append(round_result)
    return result

In [31]:
def empty_tournament_by_region():
    result = {}
    for region in regions:
        region_result = []
        for round_size in [8, 4, 2, 1]:
            round_result = []
            for j in range(round_size):
                round_result.append([None, None])
            region_result.append(round_result)
        result[region] = region_result
    result['Final Four'] = [[[None, None], [None, None]]]
    result['Championship'] = [[[None, None]]]
    return result

In [32]:
empty_tournament_by_region()

{'Championship': [[[None, None]]],
 'East': [[[None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None]],
  [[None, None], [None, None], [None, None], [None, None]],
  [[None, None], [None, None]],
  [[None, None]]],
 'Final Four': [[[None, None], [None, None]]],
 'Midwest': [[[None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None]],
  [[None, None], [None, None], [None, None], [None, None]],
  [[None, None], [None, None]],
  [[None, None]]],
 'South': [[[None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None]],
  [[None, None], [None, None], [None, None], [None, None]],
  [[None, None], [None, None]],
  [[None, None]]],
 'Southeast': [[[None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None]],
  [[None, None], [None, None], [None, None], [None, None]],
  [[None, None], [None, None]],
  [[None, None]]],
 'Southwest': [[[None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None]],
  [[None, None], [None, None], [None, None], [None, None]],
  [[None, None], [None, None]],
  [[None, None]]],
 'West': [[[None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None],
   [None, None]],
  [[None, None], [None, None], [None, None], [None, None]],
  [[None, None], [None, None]],
  [[None, None]]]}

In [34]:
def process_year(df, year):
    result = []
    year_df = df.loc[df['Year'] == year]
    for round_number in year_df.Round.unique():
        round_result = []
        round_df = year_df.loc[year_df["Round"] == round_number]
        for index, row in round_df.iterrows():
            round_result.append([
                {
                    "name": row["Team"],
                    "seed": row["Seed"],
                    "score": row["Score"],
                },
                {
                    "name": row["Team.1"],
                    "score": row["Score.1"],
                    "seed": row["Seed.1"]
                }
            ])
        result.append(round_result)
    return result

In [35]:
def process_year_by_region(df, year):
    ''' Process the year and split up the brackets by region '''
    result = {}
    year_df = df.loc[df['Year'] == year]
    for region in year_df["Region Name"].unique():
        region_df = year_df.loc[year_df['Region Name'] == region]
        region_result = []
        for round_number in region_df.Round.unique():
            round_result = []
            round_df = region_df.loc[region_df["Round"] == round_number]
            for index, row in round_df.iterrows():
                round_result.append([
                    {
                        "name": row["Team"],
                        "seed": row["Seed"],
                        "score": row["Score"],
                    },
                    {
                        "name": row["Team.1"],
                        "score": row["Score.1"],
                        "seed": row["Seed.1"]
                    }
                ])
            region_result.append(round_result)
        result[region] = region_result
    return result

In [36]:
def process_teams(df, year):
    ''' Get the teams and their associated rankings for each region '''
    result = {}
    # filter data frame by year and keep only first round where we see all the teams
    year_df = df.loc[df['Year'] == year]
    regions_df = year_df.loc[year_df['Round'] == 1]
    for region in regions:
        region_result = []
        region_df = regions_df.loc[regions_df['Region Name'] == region]
        for index, row in region_df.iterrows():
            region_result.append({
                "name": row['Team'],
                "seed": row['Seed']
            })
            region_result.append({
                "name": row['Team.1'],
                "seed": row['Seed.1']
            })
        region_result.sort(key=lambda k: k["seed"])
        result[region] = region_result
    return result

In [37]:
process_year_by_region(df, 1985)

{'Championship': [[[{'name': 'Georgetown', 'score': 64, 'seed': 1},
    {'name': 'Villanova', 'score': 66, 'seed': 8}]]],
 'East': [[[{'name': 'Georgetown', 'score': 68, 'seed': 1},
    {'name': 'Lehigh', 'score': 43, 'seed': 16}],
   [{'name': 'Georgia Tech', 'score': 65, 'seed': 2},
    {'name': 'Mercer', 'score': 58, 'seed': 15}],
   [{'name': 'Illinois', 'score': 76, 'seed': 3},
    {'name': 'Northeastern', 'score': 57, 'seed': 14}],
   [{'name': 'Loyola Illinois', 'score': 59, 'seed': 4},
    {'name': 'Iona', 'score': 58, 'seed': 13}],
   [{'name': 'SMU', 'score': 85, 'seed': 5},
    {'name': 'Old Dominion', 'score': 68, 'seed': 12}],
   [{'name': 'Georgia', 'score': 67, 'seed': 6},
    {'name': 'Wichita St', 'score': 59, 'seed': 11}],
   [{'name': 'Syracuse', 'score': 70, 'seed': 7},
    {'name': 'DePaul', 'score': 65, 'seed': 10}],
   [{'name': 'Temple', 'score': 60, 'seed': 8},
    {'name': 'Virginia Tech', 'score': 57, 'seed': 9}]],
  [[{'name': 'Georgetown', 'score': 63, 'seed': 1},
    {'name': 'Temple', 'score': 46, 'seed': 8}],
   [{'name': 'Georgia Tech', 'score': 70, 'seed': 2},
    {'name': 'Syracuse', 'score': 53, 'seed': 7}],
   [{'name': 'Illinois', 'score': 74, 'seed': 3},
    {'name': 'Georgia', 'score': 58, 'seed': 6}],
   [{'name': 'Loyola Illinois', 'score': 70, 'seed': 4},
    {'name': 'SMU', 'score': 57, 'seed': 5}]],
  [[{'name': 'Georgetown', 'score': 65, 'seed': 1},
    {'name': 'Loyola Illinois', 'score': 53, 'seed': 4}],
   [{'name': 'Georgia Tech', 'score': 61, 'seed': 2},
    {'name': 'Illinois', 'score': 53, 'seed': 3}]],
  [[{'name': 'Georgetown', 'score': 60, 'seed': 1},
    {'name': 'Georgia Tech', 'score': 54, 'seed': 2}]]],
 'Final Four': [[[{'name': 'St Johns', 'score': 59, 'seed': 1},
    {'name': 'Georgetown', 'score': 77, 'seed': 1}],
   [{'name': 'Memphis', 'score': 45, 'seed': 2},
    {'name': 'Villanova', 'score': 52, 'seed': 8}]]],
 'Midwest': [[[{'name': 'Oklahoma', 'score': 96, 'seed': 1},
    {'name': 'North Carolina A&T', 'score': 83, 'seed': 16}],
   [{'name': 'Memphis', 'score': 67, 'seed': 2},
    {'name': 'Pennsylvania', 'score': 55, 'seed': 15}],
   [{'name': 'Duke', 'score': 75, 'seed': 3},
    {'name': 'Pepperdine', 'score': 62, 'seed': 14}],
   [{'name': 'Ohio St', 'score': 75, 'seed': 4},
    {'name': 'Iowa St', 'score': 64, 'seed': 13}],
   [{'name': 'Louisiana Tech', 'score': 78, 'seed': 5},
    {'name': 'Pittsburgh', 'score': 54, 'seed': 12}],
   [{'name': 'Texas Tech', 'score': 53, 'seed': 6},
    {'name': 'Boston College', 'score': 55, 'seed': 11}],
   [{'name': 'UAB', 'score': 70, 'seed': 7},
    {'name': 'Michigan St', 'score': 68, 'seed': 10}],
   [{'name': 'USC', 'score': 55, 'seed': 8},
    {'name': 'Illinois St', 'score': 58, 'seed': 9}]],
  [[{'name': 'Oklahoma', 'score': 75, 'seed': 1},
    {'name': 'Illinois St', 'score': 69, 'seed': 9}],
   [{'name': 'Memphis', 'score': 67, 'seed': 2},
    {'name': 'UAB', 'score': 66, 'seed': 7}],
   [{'name': 'Duke', 'score': 73, 'seed': 3},
    {'name': 'Boston College', 'score': 74, 'seed': 11}],
   [{'name': 'Ohio St', 'score': 67, 'seed': 4},
    {'name': 'Louisiana Tech', 'score': 79, 'seed': 5}]],
  [[{'name': 'Oklahoma', 'score': 86, 'seed': 1},
    {'name': 'Louisiana Tech', 'score': 84, 'seed': 5}],
   [{'name': 'Memphis', 'score': 59, 'seed': 2},
    {'name': 'Boston College', 'score': 57, 'seed': 11}]],
  [[{'name': 'Oklahoma', 'score': 61, 'seed': 1},
    {'name': 'Memphis', 'score': 63, 'seed': 2}]]],
 'Southeast': [[[{'name': 'Michigan', 'score': 59, 'seed': 1},
    {'name': 'Fairleigh Dickinson', 'score': 55, 'seed': 16}],
   [{'name': 'North Carolina', 'score': 76, 'seed': 2},
    {'name': 'Middle Tennessee St', 'score': 57, 'seed': 15}],
   [{'name': 'Kansas', 'score': 49, 'seed': 3},
    {'name': 'Ohio', 'score': 38, 'seed': 14}],
   [{'name': 'LSU', 'score': 55, 'seed': 4},
    {'name': 'Navy', 'score': 78, 'seed': 13}],
   [{'name': 'Maryland', 'score': 69, 'seed': 5},
    {'name': 'Miami Ohio', 'score': 68, 'seed': 12}],
   [{'name': 'Purdue', 'score': 58, 'seed': 6},
    {'name': 'Auburn', 'score': 59, 'seed': 11}],
   [{'name': 'Notre Dame', 'score': 79, 'seed': 7},
    {'name': 'Oregon St', 'score': 70, 'seed': 10}],
   [{'name': 'Villanova', 'score': 51, 'seed': 8},
    {'name': 'Dayton', 'score': 49, 'seed': 9}]],
  [[{'name': 'Michigan', 'score': 55, 'seed': 1},
    {'name': 'Villanova', 'score': 59, 'seed': 8}],
   [{'name': 'North Carolina', 'score': 60, 'seed': 2},
    {'name': 'Notre Dame', 'score': 58, 'seed': 7}],
   [{'name': 'Kansas', 'score': 64, 'seed': 3},
    {'name': 'Auburn', 'score': 66, 'seed': 11}],
   [{'name': 'Navy', 'score': 59, 'seed': 13},
    {'name': 'Maryland', 'score': 64, 'seed': 5}]],
  [[{'name': 'Villanova', 'score': 46, 'seed': 8},
    {'name': 'Maryland', 'score': 43, 'seed': 5}],
   [{'name': 'North Carolina', 'score': 62, 'seed': 2},
    {'name': 'Auburn', 'score': 56, 'seed': 11}]],
  [[{'name': 'Villanova', 'score': 56, 'seed': 8},
    {'name': 'North Carolina', 'score': 44, 'seed': 2}]]],
 'West': [[[{'name': 'St Johns', 'score': 83, 'seed': 1},
    {'name': 'Southern', 'score': 59, 'seed': 16}],
   [{'name': 'VCU', 'score': 81, 'seed': 2},
    {'name': 'Marshall', 'score': 65, 'seed': 15}],
   [{'name': 'NC State', 'score': 65, 'seed': 3},
    {'name': 'Nevada', 'score': 56, 'seed': 14}],
   [{'name': 'UNLV', 'score': 85, 'seed': 4},
    {'name': 'San Diego St', 'score': 80, 'seed': 13}],
   [{'name': 'Washington', 'score': 58, 'seed': 5},
    {'name': 'Kentucky', 'score': 65, 'seed': 12}],
   [{'name': 'Tulsa', 'score': 75, 'seed': 6},
    {'name': 'UTEP', 'score': 79, 'seed': 11}],
   [{'name': 'Alabama', 'score': 50, 'seed': 7},
    {'name': 'Arizona', 'score': 41, 'seed': 10}],
   [{'name': 'Iowa', 'score': 54, 'seed': 8},
    {'name': 'Arkansas', 'score': 63, 'seed': 9}]],
  [[{'name': 'St Johns', 'score': 68, 'seed': 1},
    {'name': 'Arkansas', 'score': 65, 'seed': 9}],
   [{'name': 'VCU', 'score': 59, 'seed': 2},
    {'name': 'Alabama', 'score': 63, 'seed': 7}],
   [{'name': 'NC State', 'score': 86, 'seed': 3},
    {'name': 'UTEP', 'score': 73, 'seed': 11}],
   [{'name': 'UNLV', 'score': 61, 'seed': 4},
    {'name': 'Kentucky', 'score': 64, 'seed': 12}]],
  [[{'name': 'St Johns', 'score': 86, 'seed': 1},
    {'name': 'Kentucky', 'score': 70, 'seed': 12}],
   [{'name': 'Alabama', 'score': 55, 'seed': 7},
    {'name': 'NC State', 'score': 61, 'seed': 3}]],
  [[{'name': 'St Johns', 'score': 69, 'seed': 1},
    {'name': 'NC State', 'score': 60, 'seed': 3}]]]}

In [38]:
def process_all_years(df, by_region=False):
    data = {}
    for year in range(1985, 2018):
        data[year] = process_year_by_region(df, year) if by_region else process_year(df, year)
#     data[2018] = empty_tournament_by_region() if by_region else empty_tournament()
    return data

In [39]:
with open('master.json', 'w') as outfile:
    tournaments = process_all_years(df)
    tournaments_by_region = process_all_years(df, True)
    data = {
        "tournaments": tournaments,
        "tournaments_by_region": tournaments_by_region
    }
    json.dump(data, outfile, indent=4)

In [85]:
with open('empty.json', 'w') as outfile:
    json.dump(empty_tournament(), outfile, indent=4, sort_keys=True)
with open('empty_by_region.json', 'w') as outfile:
    json.dump(empty_tournament_by_region(), outfile, indent=4, sort_keys=True)