In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('fivethirtyeight.csv')

In [3]:
df

,gender,forecast_date,playin_flag,rd1_win,rd2_win,rd3_win,rd4_win,rd5_win,rd6_win,rd7_win,team_alive,team_id,team_name,team_rating,team_region,team_seed
0,mens,2018-03-12,0,1.0,0.985308,0.863123,0.668033,0.497134,0.291067,0.179788,1,222,Villanova,94.92,East,1
1,mens,2018-03-12,0,1.0,0.978539,0.831921,0.611027,0.410681,0.263779,0.137380,1,258,Virginia,93.07,South,1
2,mens,2018-03-12,0,1.0,0.958062,0.806459,0.466602,0.288302,0.162518,0.100163,1,150,Duke,92.59,Midwest,2
3,mens,2018-03-12,0,1.0,0.954136,0.764046,0.617444,0.318451,0.152683,0.082691,1,2305,Kansas,90.88,Midwest,1
4,mens,2018-03-12,0,1.0,0.922757,0.750633,0.404491,0.244351,0.120661,0.066905,1,127,Michigan State,91.67,Midwest,3
5,mens,2018-03-12,0,1.0,0.932632,0.775165,0.525237,0.252413,0.145427,0.066705,1,2132,Cincinnati,91.06,South,2
6,mens,2018-03-12,0,1.0,0.977511,0.732651,0.500513,0.201761,0.101219,0.054928,1,2509,Purdue,91.08,East,2
7,mens,2018-03-12,0,1.0,0.964770,0.788146,0.458878,0.251528,0.120286,0.053121,1,153,North Carolina,90.62,West,2
8,mens,2018-03-12,0,1.0,0.917009,0.697667,0.430707,0.239690,0.101366,0.039764,1,2250,Gonzaga,89.54,West,4
9,mens,2018-03-12,0,1.0,0.977820,0.703368,0.343050,0.171106,0.074668,0.030186,1,2752,Xavier,88.88,West,1
10,mens,2018-03-12,0,1.0,0.893139,0.549710,0.271201,0.136966,0.059142,0.023668,1,130,Michigan,88.54,West,3
11,mens,2018-03-12,0,1.0,0.757059,0.401467,0.155804,0.083922,0.044147,0.018291,1,96,Kentucky,88.17,South,5
12,mens,2018-03-12,0,1.0,0.907045,0.594003,0.268428,0.104963,0.048858,0.017738,1,2633,Tennessee,87.17,South,3
13,mens,2018-03-12,0,1.0,0.835948,0.444677,0.144635,0.082141,0.036051,0.017492,1,277,West Virginia,88.58,East,5
14,mens,2018-03-12,0,1.0,0.909079,0.500517,0.129471,0.063224,0.028888,0.014497,1,2724,Wichita State,87.97,East,4
15,mens,2018-03-12,0,1.0,0.848211,0.482546,0.145429,0.064936,0.034508,0.014458,1,12,Arizona,87.86,South,4
16,mens,2018-03-12,0,1.0,0.717812,0.339961,0.152265,0.070551,0.031715,0.013193,1,248,Houston,86.21,West,6
17,mens,2018-03-12,0,1.0,0.893567,0.534712,0.202128,0.055695,0.025252,0.012591,1,2641,Texas Tech,87.27,East,3
18,mens,2018-03-12,0,1.0,0.658774,0.317752,0.128574,0.038001,0.015379,0.006970,1,57,Florida,86.43,East,6
19,mens,2018-03-12,0,1.0,0.765701,0.239791,0.112314,0.047164,0.017289,0.005918,1,194,Ohio State,85.59,West,5
20,mens,2018-03-12,0,1.0,0.573538,0.136077,0.047719,0.020621,0.008259,0.003871,1,2628,Texas Christian,84.84,Midwest,6
21,mens,2018-03-12,0,1.0,0.631561,0.157958,0.095319,0.028435,0.008909,0.003417,1,2550,Seton Hall,85.05,Midwest,8
22,mens,2018-03-12,0,1.0,0.798161,0.416373,0.112993,0.030250,0.009110,0.003382,1,2,Auburn,84.04,Midwest,4
23,mens,2018-03-12,0,1.0,0.603822,0.174724,0.087487,0.022788,0.007971,0.003193,1,2086,Butler,84.65,East,10
24,mens,2018-03-12,0,1.0,0.619810,0.350700,0.098184,0.027087,0.008190,0.003050,1,228,Clemson,84.15,Midwest,5
25,mens,2018-03-12,0,1.0,0.582693,0.128961,0.053101,0.021078,0.008291,0.003035,1,245,Texas A&M,83.55,West,7
26,mens,2018-03-12,0,1.0,0.598094,0.247431,0.082449,0.023731,0.009399,0.002883,1,2390,Miami (FL),83.94,South,6
27,mens,2018-03-12,0,1.0,0.706088,0.214944,0.072589,0.025928,0.008487,0.002609,1,52,Florida State,83.61,West,9
28,mens,2018-03-12,0,1.0,0.596013,0.131016,0.052774,0.013358,0.006218,0.002257,1,251,Texas,82.90,South,10
29,mens,2018-03-12,0,1.0,0.582607,0.097680,0.037712,0.013372,0.005399,0.001689,1,156,Creighton,83.40,South,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2057,Belmont,79.98,Albany,12
571,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2382,Mercer,78.69,Albany,13
572,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,58,South Florida,88.61,Albany,6
573,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2031,Arkansas-Little Rock,73.64,Albany,14
574,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,25,California,85.11,Albany,7
575,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2448,North Carolina A&T,65.27,Albany,15
576,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2463,Cal State Northridge,66.59,Spokane,16
577,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2571,South Dakota State,84.23,Spokane,8
578,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,201,Oklahoma,85.70,Spokane,12
579,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2181,Drake,79.56,Spokane,13
580,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,99,Louisiana State,83.37,Spokane,6
581,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,45,George Washington,75.17,Spokane,14
582,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2739,Green Bay,88.23,Spokane,7
583,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2547,Seattle,65.92,Spokane,15
584,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,68,Boise State,72.44,Lexington,16
585,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2168,Dayton,79.88,Lexington,9
586,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,142,Missouri,87.15,Lexington,5
587,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2250,Gonzaga,81.47,Lexington,13
588,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,98,Western Kentucky,79.30,Lexington,11
589,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2335,Liberty,69.68,Lexington,14
590,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2458,Northern Colorado,76.66,Lexington,10
591,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2755,Grambling,60.58,Lexington,15
592,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2447,Nicholls State,62.81,Kansas City,16
593,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,183,Syracuse,83.57,Kansas City,8
594,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,163,Princeton,80.84,Kansas City,12
595,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2210,Elon,79.75,Kansas City,13
596,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,2294,Iowa,85.55,Kansas City,6
597,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,44,American,71.55,Kansas City,14
598,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,158,Nebraska,79.79,Kansas City,10
599,womens,2018-03-17,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,311,Maine,73.34,Kansas City,15

In [37]:
def get_teams():
    res = {}
    for region in ["East", "South", "Midwest", "West"]:
        region_df = df.loc[df["team_region"] == region]
        region_df = region_df.drop_duplicates(subset='team_name', keep="last")
        teams = []
        for index, team in region_df.iterrows():
            try:
                seed = int(team["team_seed"])
            except:
                seed = int(team["team_seed"][:-1])
            teams.append({
                "name": team["team_name"],
                "seed": seed
            })
        teams.sort(key=lambda k: k["seed"])
        res[region] = teams
    return res

In [38]:
get_teams()

{'East': [{'name': 'Villanova', 'seed': 1},
  {'name': 'Purdue', 'seed': 2},
  {'name': 'Texas Tech', 'seed': 3},
  {'name': 'Wichita State', 'seed': 4},
  {'name': 'West Virginia', 'seed': 5},
  {'name': 'Florida', 'seed': 6},
  {'name': 'Arkansas', 'seed': 7},
  {'name': 'Virginia Tech', 'seed': 8},
  {'name': 'Alabama', 'seed': 9},
  {'name': 'Butler', 'seed': 10},
  {'name': 'St. Bonaventure', 'seed': 11},
  {'name': 'UCLA', 'seed': 11},
  {'name': 'Murray State', 'seed': 12},
  {'name': 'Marshall', 'seed': 13},
  {'name': 'Stephen F. Austin', 'seed': 14},
  {'name': 'Cal State Fullerton', 'seed': 15},
  {'name': 'Radford', 'seed': 16},
  {'name': 'Long Island University', 'seed': 16}],
 'Midwest': [{'name': 'Kansas', 'seed': 1},
  {'name': 'Duke', 'seed': 2},
  {'name': 'Michigan State', 'seed': 3},
  {'name': 'Auburn', 'seed': 4},
  {'name': 'Clemson', 'seed': 5},
  {'name': 'Texas Christian', 'seed': 6},
  {'name': 'Rhode Island', 'seed': 7},
  {'name': 'Seton Hall', 'seed': 8},
  {'name': 'North Carolina State', 'seed': 9},
  {'name': 'Oklahoma', 'seed': 10},
  {'name': 'Syracuse', 'seed': 11},
  {'name': 'Arizona State', 'seed': 11},
  {'name': 'New Mexico State', 'seed': 12},
  {'name': 'College of Charleston', 'seed': 13},
  {'name': 'Bucknell', 'seed': 14},
  {'name': 'Iona', 'seed': 15},
  {'name': 'Pennsylvania', 'seed': 16}],
 'South': [{'name': 'Virginia', 'seed': 1},
  {'name': 'Cincinnati', 'seed': 2},
  {'name': 'Tennessee', 'seed': 3},
  {'name': 'Arizona', 'seed': 4},
  {'name': 'Kentucky', 'seed': 5},
  {'name': 'Miami (FL)', 'seed': 6},
  {'name': 'Nevada', 'seed': 7},
  {'name': 'Creighton', 'seed': 8},
  {'name': 'Kansas State', 'seed': 9},
  {'name': 'Texas', 'seed': 10},
  {'name': 'Loyola (IL)', 'seed': 11},
  {'name': 'Davidson', 'seed': 12},
  {'name': 'Buffalo', 'seed': 13},
  {'name': 'Wright State', 'seed': 14},
  {'name': 'Georgia State', 'seed': 15},
  {'name': 'Maryland-Baltimore County', 'seed': 16}],
 'West': [{'name': 'Xavier', 'seed': 1},
  {'name': 'North Carolina', 'seed': 2},
  {'name': 'Michigan', 'seed': 3},
  {'name': 'Gonzaga', 'seed': 4},
  {'name': 'Ohio State', 'seed': 5},
  {'name': 'Houston', 'seed': 6},
  {'name': 'Texas A&M', 'seed': 7},
  {'name': 'Missouri', 'seed': 8},
  {'name': 'Florida State', 'seed': 9},
  {'name': 'Providence', 'seed': 10},
  {'name': 'San Diego State', 'seed': 11},
  {'name': 'South Dakota State', 'seed': 12},
  {'name': 'North Carolina-Greensboro', 'seed': 13},
  {'name': 'Montana', 'seed': 14},
  {'name': 'Lipscomb', 'seed': 15},
  {'name': 'Texas Southern', 'seed': 16},
  {'name': 'North Carolina Central', 'seed': 16}]}

In [13]:
for region in ["East", "South", "Midwest", "West"]:
    print len(res[region])

18
16
17
17

In [42]:
# Eliminated duplicate seeds by looking at an actual draw
tournament = {'East': [{'name': 'Villanova', 'seed': 1},
  {'name': 'Purdue', 'seed': 2},
  {'name': 'Texas Tech', 'seed': 3},
  {'name': 'Wichita State', 'seed': 4},
  {'name': 'West Virginia', 'seed': 5},
  {'name': 'Florida', 'seed': 6},
  {'name': 'Arkansas', 'seed': 7},
  {'name': 'Virginia Tech', 'seed': 8},
  {'name': 'Alabama', 'seed': 9},
  {'name': 'Butler', 'seed': 10},
  {'name': 'St. Bonaventure', 'seed': 11},
  {'name': 'Murray State', 'seed': 12},
  {'name': 'Marshall', 'seed': 13},
  {'name': 'Stephen F. Austin', 'seed': 14},
  {'name': 'Cal State Fullerton', 'seed': 15},
  {'name': 'Radford', 'seed': 16}],
 'Midwest': [{'name': 'Kansas', 'seed': 1},
  {'name': 'Duke', 'seed': 2},
  {'name': 'Michigan State', 'seed': 3},
  {'name': 'Auburn', 'seed': 4},
  {'name': 'Clemson', 'seed': 5},
  {'name': 'Texas Christian', 'seed': 6},
  {'name': 'Rhode Island', 'seed': 7},
  {'name': 'Seton Hall', 'seed': 8},
  {'name': 'North Carolina State', 'seed': 9},
  {'name': 'Oklahoma', 'seed': 10},
  {'name': 'Syracuse', 'seed': 11},
  {'name': 'New Mexico State', 'seed': 12},
  {'name': 'College of Charleston', 'seed': 13},
  {'name': 'Bucknell', 'seed': 14},
  {'name': 'Iona', 'seed': 15},
  {'name': 'Pennsylvania', 'seed': 16}],
 'South': [{'name': 'Virginia', 'seed': 1},
  {'name': 'Cincinnati', 'seed': 2},
  {'name': 'Tennessee', 'seed': 3},
  {'name': 'Arizona', 'seed': 4},
  {'name': 'Kentucky', 'seed': 5},
  {'name': 'Miami (FL)', 'seed': 6},
  {'name': 'Nevada', 'seed': 7},
  {'name': 'Creighton', 'seed': 8},
  {'name': 'Kansas State', 'seed': 9},
  {'name': 'Texas', 'seed': 10},
  {'name': 'Loyola (IL)', 'seed': 11},
  {'name': 'Davidson', 'seed': 12},
  {'name': 'Buffalo', 'seed': 13},
  {'name': 'Wright State', 'seed': 14},
  {'name': 'Georgia State', 'seed': 15},
  {'name': 'Maryland-Baltimore County', 'seed': 16}],
 'West': [{'name': 'Xavier', 'seed': 1},
  {'name': 'North Carolina', 'seed': 2},
  {'name': 'Michigan', 'seed': 3},
  {'name': 'Gonzaga', 'seed': 4},
  {'name': 'Ohio State', 'seed': 5},
  {'name': 'Houston', 'seed': 6},
  {'name': 'Texas A&M', 'seed': 7},
  {'name': 'Missouri', 'seed': 8},
  {'name': 'Florida State', 'seed': 9},
  {'name': 'Providence', 'seed': 10},
  {'name': 'San Diego State', 'seed': 11},
  {'name': 'South Dakota State', 'seed': 12},
  {'name': 'North Carolina-Greensboro', 'seed': 13},
  {'name': 'Montana', 'seed': 14},
  {'name': 'Lipscomb', 'seed': 15},
  {'name': 'Texas Southern', 'seed': 16},
]}

In [65]:
processed = []
for region in tournament:
    teams = tournament[region]
    processed_teams = []
    pairings = [(1, 16), (8, 9), (5, 12), (4, 13), (6, 11), (3, 14), (7, 10), (2, 15)]
    for top, bottom in pairings:
        processed_teams.append([
            teams[top-1],
            teams[bottom-1]
        ])
    processed += processed_teams
    
result = [processed]
for round_size in [16, 8, 4, 2, 1]:
    round_result = []
    for j in range(round_size):
        round_result.append([False, False])
    result.append(round_result)

In [66]:
with open('empty.json', 'w') as outfile:
    json.dump(result, outfile, indent=4)

In [63]:
result

[[[{'name': 'Xavier', 'seed': 1}, {'name': 'Texas Southern', 'seed': 16}],
  [{'name': 'Missouri', 'seed': 8}, {'name': 'Florida State', 'seed': 9}],
  [{'name': 'Ohio State', 'seed': 5},
   {'name': 'South Dakota State', 'seed': 12}],
  [{'name': 'Gonzaga', 'seed': 4},
   {'name': 'North Carolina-Greensboro', 'seed': 13}],
  [{'name': 'Houston', 'seed': 6}, {'name': 'San Diego State', 'seed': 11}],
  [{'name': 'Michigan', 'seed': 3}, {'name': 'Montana', 'seed': 14}],
  [{'name': 'Texas A&M', 'seed': 7}, {'name': 'Providence', 'seed': 10}],
  [{'name': 'North Carolina', 'seed': 2}, {'name': 'Lipscomb', 'seed': 15}],
  [{'name': 'Villanova', 'seed': 1}, {'name': 'Radford', 'seed': 16}],
  [{'name': 'Virginia Tech', 'seed': 8}, {'name': 'Alabama', 'seed': 9}],
  [{'name': 'West Virginia', 'seed': 5}, {'name': 'Murray State', 'seed': 12}],
  [{'name': 'Wichita State', 'seed': 4}, {'name': 'Marshall', 'seed': 13}],
  [{'name': 'Florida', 'seed': 6}, {'name': 'St. Bonaventure', 'seed': 11}],
  [{'name': 'Texas Tech', 'seed': 3},
   {'name': 'Stephen F. Austin', 'seed': 14}],
  [{'name': 'Arkansas', 'seed': 7}, {'name': 'Butler', 'seed': 10}],
  [{'name': 'Purdue', 'seed': 2}, {'name': 'Cal State Fullerton', 'seed': 15}],
  [{'name': 'Kansas', 'seed': 1}, {'name': 'Pennsylvania', 'seed': 16}],
  [{'name': 'Seton Hall', 'seed': 8},
   {'name': 'North Carolina State', 'seed': 9}],
  [{'name': 'Clemson', 'seed': 5}, {'name': 'New Mexico State', 'seed': 12}],
  [{'name': 'Auburn', 'seed': 4},
   {'name': 'College of Charleston', 'seed': 13}],
  [{'name': 'Texas Christian', 'seed': 6}, {'name': 'Syracuse', 'seed': 11}],
  [{'name': 'Michigan State', 'seed': 3}, {'name': 'Bucknell', 'seed': 14}],
  [{'name': 'Rhode Island', 'seed': 7}, {'name': 'Oklahoma', 'seed': 10}],
  [{'name': 'Duke', 'seed': 2}, {'name': 'Iona', 'seed': 15}],
  [{'name': 'Virginia', 'seed': 1},
   {'name': 'Maryland-Baltimore County', 'seed': 16}],
  [{'name': 'Creighton', 'seed': 8}, {'name': 'Kansas State', 'seed': 9}],
  [{'name': 'Kentucky', 'seed': 5}, {'name': 'Davidson', 'seed': 12}],
  [{'name': 'Arizona', 'seed': 4}, {'name': 'Buffalo', 'seed': 13}],
  [{'name': 'Miami (FL)', 'seed': 6}, {'name': 'Loyola (IL)', 'seed': 11}],
  [{'name': 'Tennessee', 'seed': 3}, {'name': 'Wright State', 'seed': 14}],
  [{'name': 'Nevada', 'seed': 7}, {'name': 'Texas', 'seed': 10}],
  [{'name': 'Cincinnati', 'seed': 2}, {'name': 'Georgia State', 'seed': 15}]],
 [[False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False]],
 [[False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False]],
 [[False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False],
  [False, False]],
 [[False, False], [False, False], [False, False], [False, False]],
 [[False, False], [False, False]],
 [[False, False]]]

In [64]:
print len(result[0])

32